<h1 id="top"><%= @patient.first_name %>'s Vitals Over Time</h1>

<div class="chart">
  <h3 id="chart-title">All Vitals</h3>
  <%= line_chart @all_vitals_chart_data %>
</div>

<div class="chart">
  <h3 id='chart-title'>Respiratory Rate</h3>
  <%= line_chart @patient_respiratory_chart_data %>
</div>

<div class="chart">
  <h3 id='chart-title'>Heart Rate</h3>
  <%= line_chart @patient_heart_rate_chart_data %>
</div>

<div class="chart">
  <h3 id='chart-title'>Body Temperature</h3>
  <%= line_chart @patient_body_temp_chart_data %>
</div>

<div class="chart">
  <h3 id='chart-title'>Blood Pressure</h3>
  <%= line_chart @patient_blood_pressure_chart_data %>
</div>

<div class="chart">
  <h3 id='chart-title'>Phyiscal Health Score</h3>
  <%= line_chart @patient_physical_health_chart_data %>
</div>

<div class="chart">
  <h3 id='chart-title'>Mental Health Score</h3>
  <%= line_chart @patient_mental_health_chart_data %>
</div>