<h3>Your Patients</h3>
<% current_doctor.patients.each do |patient| %>
  <p><%= patient.first_name %> <%= patient.last_name %></p>
  <p><%= link_to 'See Profile', patient_path(patient) %></p>
<% end %>

<h3>Your Connection Requests to Patients</h3>
<% current_doctor.relationships.pending.each do |c| %>
  <p><%= c.patient.first_name %> <%= c.patient.last_name %></p>
  <p><%= link_to 'Cancel Connection Request', delete_doctor_connection_path(:id => c.id), :method => :delete %></p>
<% end %>

<h3>Patient Connection Requests to You</h3>
<% current_doctor.relationships.patient_to_doctor_requests.each do |c| %>
  <p><%= c.patient.first_name %> <%= c.patient.last_name %></p>
  <p><%= link_to 'Decline Connection Request',
    reject_doctor_connection_request_path(:id => c.id), :method => :patch %></p>
<% end %>