<div class="main">
  <h1 id="top">Connections and Requests</h1>
  <h3>Your Patients</h3>
  <% current_doctor.patients.each do |patient| %>
    <p><%= patient.first_name %> <%= patient.last_name %></p>
    <p><%= link_to 'See Patient Dashboard', doctor_patient_path(patient.id) %></p>
  <% end %>

  <h3>Your Connection Requests to Patients</h3>
  <% current_doctor.relationships.requests('pending', 'doctor').each do |c| %>
    <p><%= c.patient.first_name %> <%= c.patient.last_name %></p>
    <p><%= link_to 'Cancel Connection Request', delete_doctor_connection_path(:id => c.id), :method => :delete %></p>
  <% end %>

  <h3>Patient Connection Requests to You</h3>
  <% current_doctor.relationships.requests('pending', 'patient').each do |c| %>
    <p><%= c.patient.first_name %> <%= c.patient.last_name %></p>
    <p><%= link_to 'Decline Connection Request',
      delete_doctor_connection_path(:id => c.id), :method => :delete %> or <%= link_to 'Accept Connection Request',
      doctor_accept_request_path(:id => c.id), :method => :patch %></p>
  <% end %>
</div>