<% @healthstatusupdates.each do |healthstatusupdate| %>

<p>Health Status Update: <%# patients.health_status_update_id %> </p>
  <div class="healthstatusupdate">
<!--     <strong><%# healthstatusupdate.patient.first_name %> <%# healthstatusupdate.patient.last_name %></strong> -->
    <ul>
      <li><%= healthstatusupdate.respiratory_rate %></li>
      <li><%= healthstatusupdate.heart_rate %></li>
      <li><%= healthstatusupdate.body_temperature %></li>
      <li><%= healthstatusupdate.blood_pressure %></li>
      <li><%= healthstatusupdate.physical_health_score %></li>
      <li><%= healthstatusupdate.mental_health_score %></li>
      <li><%# healthstatusupdate.patient_id %></li>
    </ul>
  </div>
<% end %>