<% @health_status_updates.each do |update| %>

<p>Health Status Update: </p>
  <div class="health-status-update">
    <ul>
      <li><%= update.respiratory_rate %></li>
      <li><%= update.heart_rate %></li>
      <li><%= update.body_temperature %></li>
      <li><%= update.blood_pressure %></li>
      <li><%= update.physical_health_score %></li>
      <li><%= update.mental_health_score %></li>
    </ul>
  </div>
<% end %>