<p>
  <strong>Respiratory Rate: </strong>
  <%= @healthstatusupdates.respiratory_rate %>
</p>

<p>
  <strong>Heart Rate: </strong>
  <%= @healthstatusupdates.heart_rate %>
</p>

<p>
  <strong>Body Temperature: </strong>
  <%= @healthstatusupdates.body_temperature %>
</p>

<p>
  <strong>Blood Pressure: </strong>
  <%= @healthstatusupdates.blood_pressure %>
</p>


<p>
  <strong>Physical Health Score: </strong>
  <%= @healthstatusupdates.physical_health_score %>
</p>

<p>
  <strong>Mental Health Score: </strong>
  <%= @healthstatusupdates.mental_health_score %>
</p>