<p>
  <strong>Respiratory Rate: </strong>
  <%= @health_status_update.respiratory_rate %>
</p>

<p>
  <strong>Heart Rate: </strong>
  <%= @health_status_update.heart_rate %>
</p>

<p>
  <strong>Body Temperature: </strong>
  <%= @health_status_update.body_temperature %>
</p>

<p>
  <strong>Blood Pressure: </strong>
  <%= @health_status_update.blood_pressure %>
</p>


<p>
  <strong>Physical Health Score: </strong>
  <%= @health_status_update.physical_health_score %>
</p>

<p>
  <strong>Mental Health Score: </strong>
  <%= @health_status_update.mental_health_score %>
</p>