<p>
  <strong>Respiratory Rate: </strong>
  <%= @healthstatusupdate.respiratory_rate %>
</p>

<p>
  <strong>Heart Rate: </strong>
  <%= @healthstatusupdate.heart_rate %>
</p>

<p>
  <strong>Body Temperature: </strong>
  <%= @healthstatusupdate.body_temperature %>
</p>

<p>
  <strong>Blood Pressure: </strong>
  <%= @healthstatusupdate.blood_pressure %>
</p>


<p>
  <strong>Physical Health Score: </strong>
  <%= @healthstatusupdate.physical_health_score %>
</p>

<p>
  <strong>Mental Health Score: </strong>
  <%= @healthstatusupdate.mental_health_score %>
</p>