<h1 id="chart-header">Your vitals over time</h1>

<div class="chart">
  <h3 id="chart-title">All Vitals</h3>
  <%= line_chart @all_vitals_chart_data %>
</div>

<div class="chart">
  <h3 id='chart-title'>Respiratory Rate</h3>
  <%= line_chart @respiratory_chart_data %>
</div>

<div class="chart">
  <h3 id='chart-title'>Heart Rate</h3>
  <%= line_chart @heart_rate_chart_data %>
</div>

<div class="chart">
  <h3 id='chart-title'>Body Temperature</h3>
  <%= line_chart @body_temp_chart_data %>
</div>

<div class="chart">
  <h3 id='chart-title'>Blood Pressure</h3>
  <%= line_chart @blood_pressure_chart_data %>
</div>

<div class="chart">
  <h3 id='chart-title'>Phyiscal Health Score</h3>
  <%= line_chart @physical_health_chart_data %>
</div>

<div class="chart">
  <h3 id='chart-title'>Mental Health Score</h3>
  <%= line_chart @mental_health_chart_data %>
</div>