<% @patients.each do |patient| %>

  <div class="patient">
    <strong><%= patient.first_name %> <%= patient.last_name %></strong>
    <ul>
      <li><%= patient.email %></li>
      <li><%= patient.phone_number %></li>
      <li><%= patient.healthcard_number %></li>
      <li><%= patient.gender %></li>
      <li><%= patient.date_of_birth %></li>
      <li><%= patient.city %></li>
      <li><%= patient.country %></li>
      <li><%= link_to "Send connection request", doctor_connection_request_path(:doctor_id => current_doctor.id, :patient_id => patient.id), :method => :post %></li>
    </ul>
  </div>

<% end %>