<% @doctors.each do |doctor| %>

  <div class="doctor">
    <strong><%= doctor.first_name %> <%= doctor.last_name %></strong>
    <ul>
      <li><%= doctor.email %></li>
      <li><%= doctor.phone_number %></li>
      <li><%= doctor.doctor_uid %></li>
      <li><%= doctor.gender %></li>
      <li><%= doctor.specialization %></li>
      <li><%= doctor.institution %></li>
      <li><%= doctor.city %></li>
      <li><%= doctor.country %></li>
    </ul>
  </div>

<% end %>
