<div class="main">
  <h1 id="top"><%= @doctor.first_name %> <%= @doctor.last_name %></h1>
    <ul>
      <li><strong>Email:</strong> <%= @doctor.email %></li>
      <li><strong>Phone Number:</strong> <%= @doctor.phone_number %></li>
      <li><strong>Gender:</strong> <%= @doctor.gender %></li>
      <li><strong>Specialization:</strong> <%= @doctor.specialization %></li>
      <li><strong>Institution:</strong> <%= @doctor.institution %></li>
      <li><strong>City:</strong> <%= @doctor.city %></li>
      <li><strong>Country:</strong> <%= @doctor.country %></li>
    </ul>

  <p><%= button_to 'Edit my account', edit_doctor_registration_path(@doctor), method: :get %></p>
</div>