<h3>Your medical history</h3>
<%= form_for [@patient, @health_record], url: patient_health_record_path do |f| %>
  <div class="field">
    <%= f.label :allergies %><br />
    <%= f.text_area :allergies %>
  </div>
  <div class="field">
    <%= f.label :medications %><br />
    <%= f.text_area :medications %>
  </div>
  <div class="field">
    <%= f.label :surgeries %><br />
    <%= f.text_area :surgeries %>
  </div>
  <div class="field">
    <%= f.label :existing_conditions %><br />
    <%= f.text_area :existing_conditions %>
  </div>

  <div class="submit">
    <%= f.submit "Create your health record" %>
  </div>
<% end %>