<% @healthrecords.each do |healthrecord| %>

  <div class="healthrecord">
    <strong><%= healthrecord.patient.first_name %> <%= healthrecord.patient.last_name %></strong>
    <ul>
      <li><%= healthrecord.allergies %></li>
      <li><%= healthrecord.medications %></li>
      <li><%= healthrecord.surgeries %></li>
      <li><%= healthrecord.existing_conditions %></li>
    </ul>
  </div>
<% end %>
