<p>
  <strong>Allergies: </strong>
  <%= @healthrecord.allergies %>
</p>

<p>
  <strong>Medications: </strong>
  <%= @healthrecord.medications %>
</p>

<p>
  <strong>Surgeries: </strong>
  <%= @healthrecord.surgeries %>
</p>

<p>
  <strong>Existing Conditions: </strong>
  <%= @healthrecord.existing_conditions %>
</p>


<p>
  <strong>To delete a Health Record: </strong>
  <!-- <%= @healthrecord.destroy %> -->
</p>

<%= @healthrecord.destroy %>

  <% @healthrecord.record.each do |record| %>
    <p>
      <%= review.comment %>
      <br>
      <% if review.user != nil %>
        <em> by <%= review.user.name %></em>
        Added on: <%= review.created_at %>
      <% end %>
    </p>
<% end -%>

    <div class="actions">
      <%= f.submit "Delete record" %>
    </div>
  <% end %>

  <%= button_to "delete", @healthrecord, :action => 'destroy', :confirm => 'Are you sure?', :id => healthrecord.id :method => :delete %>

<%= link_to 'Edit', edit_healthrecord_path(@healthrecord) %> |
<%= link_to 'Back', projects_path %>