<!DOCTYPE html>
<html>
<head>
  <title>OpenMD</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div class="nav-links">
  <ul id="nav-menu">
    <li>
      <%= show_home_link %>
    </li>
    <li>
      <%= show_health_record_link %>
    </li>
    <li>
      <%= show_health_status_update_link %>
    </li>
    <li>
      <%= show_session_links %>
    </li>
  </ul>
</div>

<%= yield %>

</body>
</html>
