<!DOCTYPE html>
<html>
<head>
  <title>OpenMD</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1.0,width=device-width">
  <%= stylesheet_link_tag 'font-awesome', "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div id="home-link">
      <%= show_home_link %>
    </div>
    <div id="nav-menu">
      <ul>
        <li>
          <%= show_health_record_link %>
        </li>
        <li>
          <%= show_health_status_update_link %>
        </li>
        <li>
          <%= show_connections_link %>
        </li>
        <li>
          <%= show_account_link %>
        </li>
        <li>
          <%= show_session_links %>
        </li>
      </ul>
    </div>
  </header>

  <!-- <div class="main"> -->
    <%= show_flash_contents %>
    <%= yield %>
  <!-- </div> -->

</body>
</html>
