<!DOCTYPE html>
<html>
<head>
  <title>OpenMD</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div class="nav-links">
  <ul id="nav-menu">
    <li>
      <%= link_to 'Home', patient_signed_in? ? patients_path : root_path %>
    </li>

    <% if current_patient %>
      <li>
        <%= link_to_unless_current('My Health Record',
        patient_health_record_path(current_patient.id)) %>
      </li>
      <li>
        <%= link_to_unless_current('+ Health Status Update',
        new_patient_health_status_update_path(current_patient.id)) %>
      </li>
    <% end %>
    <li>
      <%= show_session_links %>
    </li>
  </ul>
</div>

<%= yield %>

</body>
</html>
