<!DOCTYPE html>
<html>
<head>
  <title>OpenMD</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= link_to 'Home', root_path %>

<% if patient_signed_in? %>
  <%= link_to 'My Health Record', patient_health_record_path(current_patient) %>
  <%= link_to 'Log Out', destroy_patient_session_path, method: :delete %>
<% elsif doctor_signed_in? %>
  <%= link_to 'Log Out', destroy_doctor_session_path, method: :delete %>
<% else %>
  <%= link_to 'Log In', login_path %>
<% end %>


<%= yield %>

</body>
</html>
